
.body{
background-color: #91ff00;
border-color: #3300ff;
}	
}
.container{
	display: flex;
	flex-direction: row;
}

.info{
    flex: right;
	flex: 1;
}
.image{
	background-color: rgb(249, 255, 240);

    flex: left;
}

@media (max-width: 500px) {

 .container {
	flex-direction: column;
	display: flex;
 }
	.infoDetails .companyName {
		border: 1px solid;
		flex: 1;
		width: 40%;
		border-radius: 0.6rem;
		margin: 10;
	}
	.companyName{
		border: 1px solid;
		padding-left: 10px;
	}
}
	@media (min-width: 500px) {

		.container {
			flex-direction:column;
			display: block;
		 }
		   .image{
			;
		 flex: auto;
		   }
			.info {
			 display: flex;
				border: 1px solid;
				flex: 1;
			}
		.info {
          border: 1px solid;
		  padding-right: 600px;
		}
	 }
		
		   @media (min-width: 768px) {

			.container {
			   flex-direction:row;
			   display:flex;
			
			   .info {
				display: flex;
				   flex: 1;
				   
	
			   }
		   
		}

	