
	
.body {

}

.container{
	background-color: #3300ff;

	display: flex;
	flex-direction: row;
	flex:1;
}

.info{
    flex: right;
	flex: 1;
}
.contactImage{
background-color: rgb(255, 240, 254);
position:relative;
    flex: left;
}

@media (max-width: 500px) {

	
 .container {
	flex-direction: column;
	display: flex;
	
 }
	
	}
	.companyName{
		
		
	}
}
	@media (min-width: 500px) {

		.container {
			border: #3300ff;
			flex-direction:column;
			display: block;
		 }
		
		.contactImage{
			
		 flex: auto;
		 margin-left: 250;
		   }
			.info {
			 display: flex;
			 flex-direction: column;
				border: 1px solid;
				flex: 1;
			}
		.info {
          
		  padding-right: 600px;
		  flex-direction: column;
		  float: right;
		}
	 }
		
		   @media (min-width: 768px) {

			.container {
			   flex-direction:row;
			   display:flex;
			
			   .info {
				display: flex;
				   flex: 1;
				   
	
			   }
		   
		}

	